<!DOCTYPE html>
<html>
<head>
  <style>
table, th, td {
  border: 1px solid green;
}
</style>
  <title>
    FeedBack From
  </title>
  <hr>
  <center><h1>Customer & Retailer Feedback >>>Edited Form<<< </h1></center>
  <hr>
  <hr>
</head>
<body>
  <center>
{% for x in data %}
    <form method="post" action='/editupdate/{{x["feedback_id"]}}/'>

      <h3>FeedBack No:</h3><input type="text" value="{{x["feedback_id"]}}" disabled>
      <h3>FeedBack No:</h3><input type="text" value="{{x["contr_id"]}}" disabled>
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>

  <label for="origin">Origin of FeedBack</label>
  <select name="origin" id="origin" required>
    <option value="{{x["origin"]}}">{{x["origin"]}}</option>
    <option value="Retailer">Retailer</option>
    <option value="Consumer">Consumer</option>
  </select>

</td>

<td>

  <label for="status">Order Status</label>
  <select name="status" id="status" required>
    <option value="">{{x["status"]}}</option>
    <option value="progress">In progress</option>
    <option value="Completed">Completed</option>
    <option value="Canceled">canceled</option>
  </select>

</td></tr>

<tr><td>
<center>
<label for="clist">Contractor List</label>
<select name="clist" id="clist" required>
  <option value="">{{x["contr_name"]}}</option>
  {% for man in cont_list %}
  <option value="{{man.cid}}">{{man["name"]}}</option>
  <!-- <option value="Mr.raghunamdan">Mr.raghunamdan</option>
  <option value="Mr.BALAKRISHNAN AYAR">Mr.BALAKRISHNAN AYAR</option>
  <option value="MR. KC MURLI">MR. KC MURLI</option> -->
  {% endfor %}
</select>

</center>

</td>
<td>
<center>
<label for="opinion">Feedback [Positive/Negative]</label>
<select name="opinion" id="opinion" required>
  <option value="">{{x["opinion"]}}</option>
  <option value="positive">Positive</option>
  <option value="negative">Negative</option>
</select>
</center>
</td>
</tr>

<tr>
<td>
<center>
  <!-- <label for="feedback"> Please provide Your Feedback</label>
  <input type="text" name="feedback" required> -->
  <label for="feedback">Provide Your Feedback:</label>
<textarea id="feedback" name="feedback" rows="4" cols="50" value="{{x["feedback"]}}">{{x["feedback"]}}</textarea>
</center>
</td>
</tr>



<tr>
  <td>
<center>
  <label for="time">Complete Cycle time</label>
  <input type="text" name="time"  required value="{{x["time"]}}">
</center>

</td>
</tr>
<tr>
  <td>
    <label for="attention">Need Any Attention</label>
    <select name="attention" id="attention" required>
    <option value="{{x["attention"]}}">{{x["attention"]}}</option>
    <option value="Need Aattention">Need attenion</option>
    <option value="No need ">No Need attenion</option>
  </select></td>
    <td>
      <label for="quicknote">Provide Quick Note:</label>
    <textarea id="quicknote" name="quicknote" rows="4" cols="50" value="{{x["quicknote"]}}">{{x["quicknote"]}}</textarea>
    </td>
</tr>
</table>
{% endfor %}
<input type="submit"> </form>
</center>

</body>
</html>
